asgiref==3.3.1
Django==3.1.6
django-filter==2.4.0
django-js-asset==1.2.2
django-rest-framework==0.1.0
django-simple-history==2.12.0
django-tinymce==3.2.0
djangorestframework==3.12.4
Markdown==3.3.4
python-dotenv==0.15.0
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
